.eb-logo:hover {
  text-decoration: none;
}

.eb-nav-container {
  padding: 5px 30px;
  color: #999;
  display: flex;
  align-items: center;
  column-gap: 0.25em;
}

@media (min-width: 1200px) {
  .eb-nav-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.eb-nav-link {
  color: #999;
  cursor: pointer;
  text-decoration: none;
}

.eb-nav-link:hover {
  color: #666;
  text-decoration: none;
}

.eb-nav-button {
  font-size: .875rem;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
	background: none;
	border: none;
	outline: inherit;
}
